.container {
    font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
    font-size: 14px;
    width: 640px;
    border-radius: 5px;
    margin: 5px auto;
    padding: 15px;
    background: #fefefe;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    overflow: auto;
}

h3 {
    margin: 0 auto 5px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid darkgrey;
}

ol {
    margin: 0;
    padding: 5px 10px;
}

li {
    margin: 5px;
}

p {
    margin: 8px auto;
    line-height: 1.5em;
}

img {
    border: 1px dashed darkgrey;
    padding: 1px;
    margin: 0 4px 0 3px;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

.notice {
    color: blue;
}
